.card{
    margin-top: 50px;
}

.btn-primary{
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 28px;
    color: #3D4D4D;
    background-color: #FFC600;
}

#my-nav-bar{
    padding: 2rem;
    background-color: #f5f6f7;
}

.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}

